.article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    ". art art ."
    ". art art ."
    ". img img ."
    ". fig fig ."
    ". ft ft .";
    justify-items: center;
}

.content {
    grid-area: art;
}

.article-img {
    grid-area: img;
    width: 360px;
    height: 240px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figcaption {
    grid-area: fig;
    margin-top: 10px;
}

p {
    font-size: 18px;
}

.article-footer {
    grid-area: ft;
    display: flex;
    justify-content: center;
}

.fa-facebook-square {
    margin: 10px;
}

.fa-twitter-square {
    margin: 10px;
}

.fa-linkedin-square {
    margin: 10px;
}