.container {
    display: grid;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "section main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    grid-template-rows: 20vh 60vh 10vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: hd;
    margin-bottom: 40px;
    background-image: url("../img/Mount_Maunganui_Main_Beach.jpg")
}

section {
    grid-area: section;
    padding: 5px 10px;
    border-radius: 3px;
}

section {
    padding: 20px;
    margin-top: 10px;
}

h1 {
    color: white;
}

h2 {
    margin-bottom: 20px;
}

.about-me-title {
    display: flex;
    align-items: center;
}

.avatar-image {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 100%;
}

.reading-details {
    color: #404040;
    margin-bottom: 10px;
}

main {
    grid-area: main;
}

footer {
    grid-area: ft;
    justify-self: center;
}